@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: Verdana;
	text-align: center;
}

a {
	color: aquamarine;
	font-size: 16px;
}

.main_container {
	padding-top: 10px;
}

p {
	color: red;
}

h1,
h2 {
	color: white;
}

h1 {
	font-weight: normal;
	font-size: 50px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
}

h3,
#footer {
	color: gray;
	font-size: 21px;
	font-weight: normal;
}

#footer h3 {
	margin: auto;
	width: 98%;
	text-align: right;
	padding-bottom: 20px;
}